/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #39383D; /*#ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007AFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007AFF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/***************/
/* HIDE OBJECT */
/***************/
div.hiddenObjectContainer {
	width: 350px;
	height: 80px;
	border: 5px dashed #D0D0D0;
	/*padding: 50px;*/
	padding: 40px 0 40px 0;
	/*margin: 20px;*/
	position: relative;
	align-content: center;
	align-items: center;
	justify-content: center;
}

div.objectToHide {
	width: 100px;
	heigh: 40px;
	border: 2px solid #ccc;
	/*padding: 10px;*/
	padding: 10px 30px 10px 30px;
	/*margin: 20px;*/
	align-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	/*
	margin-top: -50px;
	margin-left: -25px;
	*/
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.1);
	align-items: center;
	justify-content: center;
	display: inherit;
}

div.objectToHide.p {
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*************/
/* SET LABEL */
/*************/
/* Input Field and Button */
input {
	background: #E7E7E7;
	border-radius: 1em;
	border: none;
	padding: 0.8em;
	color: #000;
	font-size: 1.1em;
	padding-left: 1.5em;
	outline: none;
	/*box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%);*/
}
.inputButton {
	background-color: #007AFF;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/*margin: 4px 2px;*/
	cursor: pointer;
}
.labelButton {
	border-radius: 1em; /*12px;*/
	padding-left: 25px !important;
	padding-right: 25px !important;
}



/***************/
/* ADD NUMBERS */
/***************/
/* 2 Input Fields and Button */
input.numbers {
	background: #E7E7E7;
	border-radius: 1em;
	border: none;
	padding: 0.8em;
	color: #000;
	font-size: 1.1em;
	padding-left: 1.5em;
	width: 50px;
	outline: none;
}
.inputButton {
	background-color: #007AFF;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
.labelButton {
	border-radius: 12px;
}


/*****************/
/* SELECT DEVICE */
/*****************/
.big {
	font-size: 1.2em;
}
/* Custom dropdown */
.custom-dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 10px; /* demo only */
}
.custom-dropdown select {
	background-color: #007AFF;
	color: #fff;
	font-size: inherit;
	padding: .5em;
	padding-right: 4.5em; 
	padding-left: .8em;
	border: 0;
	margin: 0;
	border-radius: 0.4em; /*3px;*/
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: button; /* hide default arrow in chrome OSX */
}
.custom-dropdown::before,
.custom-dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
}
.custom-dropdown::after { /*  Custom dropdown arrow */
	content: "\25BC";
	height: 1em;
	font-size: .625em;
	line-height: 1;
	right: 1.2em;
	top: 50%;
	margin-top: -.5em;
}
.custom-dropdown::before { /*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 .4em .4em 0; /* 0 3px 3px 0; */
}
.custom-dropdown select[disabled] {
	color: rgba(0,0,0,.3);
}
.custom-dropdown select[disabled]::after {
	color: rgba(0,0,0,.1);
}
.custom-dropdown::before {
	background-color: rgba(0,0,0,.15);
}
.custom-dropdown::after {
	color: rgba(0,0,0,.4);
}
