html {
	scroll-behavior: smooth !important;
}

body {
	color: #000;
	background: #FFF;
	font-family: -apple-system, BlinkMacSystemFont;
	padding: 5px 20px 20px 20px;
}

p > code {
	color: #000;
	font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr.separator {
	border: 0;
	border-bottom: 1.5px dashed #D0D0D0;
	background: transparent;
	margin-top: 30px;
	margin-bottom: 10px;
}

/* Gradient transparent - color - transparent */
/*
hr.separator {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
		margin-top: 30px;
		margin-bottom: 10px;
}
*/

a, a:link, a:visited, a:active {
	color: #007AFF;
	text-decoration: none;
}


div.objectPreview {
	padding: 5px 0 15px 0;
	align-content: center;
}

.toc {
	
}

#toc {
	text-align: left;
	margin-top: 18px;
	width: 100%;
	padding: 10px;
}
#toc #number {
	font-weight: 400;
	/*width: 5%;*/
	width: 20px;
}
#toc #title {
	font-weight: 600;
	padding-right: 10px;
	/*width: 25%;*/
	width: 120px;
}
#toc #code {
	font-weight: normal;
	font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
	font-size: 14px;
}

ol.toc {
	/*list-style-type: lower-alpha;*/
	line-height: 1.5;
	font-size: 1.1rem;
}

table, th, td {
	border: 1px solid #D0D0D0;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	padding-left: 10px;
}
#codeTable {
	width: 100%;
	text-align: left;
}
#codeTable #language {
	width: 100px; /* 15%; */
}

#codeTable tr:first-child > #function {
	width: 15%;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont;
}

#codeTable #function {
	width: 15%;
	font-weight: normal;
	font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

#codeTable > #example {
	width: 75%;
	font-weight: normal;
	font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}


.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  padding-bottom: 20px;
}



div.toc > .collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 10px 0 10px 20px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, div.toc >.collapsible:hover {
	background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
div.toc > .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #fff; /*#f1f1f1*/
	padding-bottom: 20px;
}

